.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
    background-color: $color-quaternary;
    padding: 1.5rem;
    width: 100%;
}

.social-media-container {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.footer-copyright {
    font-family: $font-description;
}
