.menu-mobile {
    background-color: $color-primary;
    padding: 3rem 0rem 1rem 0rem;
    display: flex;
    justify-content: space-around;
    position: sticky;
    bottom: 0px;
    width: 100%;

    @include responsive("desktop") {
        display: none;
    }
}

.menu-desktop {
    display: none;
    @include responsive("desktop") {
        display: flex;
        align-items: center;
        gap: 5rem;
        padding: 2rem 5rem 0rem 0rem;
    }

    &__home {
        @include responsive("desktop") {
            font-family: $font-description;
            font-size: 1.2rem;
            margin: 0;
            padding-top: 0.7rem;
        }
    }

    &__shopping-cart {
        @include responsive("desktop") {
            font-family: $font-description;
            font-size: 1.2rem;
            margin: 0;
            padding-top: 0.7rem;
        }
    }
}

.cart-number-mobile {
    border-radius: 25px;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    font-family: $font-description;
    color: $color-primary;
    background-color: $color-tertiary;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    border: 2.5px $color-primary solid;
}

.cart-number-desktop {
    border-radius: 25px;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    font-family: $font-description;
    color: black;
    background-color: $color-secondary;
    position: absolute;
    top: -1rem;
    right: 2rem;
    border: 3px $color-quaternary solid;
}
