.icon-padding {
    padding-right: 0.5rem;
}
.cart-title {
    font-family: $font-description;
    font-size: 1.3rem;
    padding: 2rem;
}

.cart-table {
    font-family: $font-description;
    width: 100%;
    &__grid {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr;
        align-items: stretch;
    }

    &__cell {
        border: $color-quaternary 0.1rem solid;
        padding: 0.9rem;
    }
    &__total-label {
        grid-column-end: span 3;
    }
}

.icon-cart {
    color: $color-secondary;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    font-family: $font-description;
}

.divide {
    background-color: $color-secondary;
    height: 0.1rem;
    width: 25rem;
    margin: 2rem 0rem;
}
.label {
    margin-bottom: 0.5rem;
}
.input {
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    background-color: $color-primary;
    border-bottom: $color-quaternary 1px solid;
    margin-bottom: 2rem;
}
