.icon-padding {
    padding-right: 0.5rem;
}
.cart-title {
    font-family: $font-description;
    font-size: 1.3rem;
    padding: 2rem;
}
.cart-table {
    border-collapse: collapse;
    font-family: $font-description;
    font-size: 1rem;

    &__cell {
        padding: 1rem 0.4rem;
        border: 1px solid black;

        @include responsive(tablet) {
            padding: 1rem 2rem;
        }

        @include responsive(desktop) {
            padding: 1rem 5rem;
        }
    }
}

.icon-cart {
    color: $color-secondary;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    font-family: $font-description;
}

.divide {
    background-color: $color-secondary;
    height: 0.1rem;
    width: 25rem;
    margin: 2rem 0rem;
}
.label {
    margin-bottom: 0.5rem;
}
.input {
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    background-color: $color-primary;
    border-bottom: $color-quaternary 1px solid;
    margin-bottom: 2rem;
}
