.confirmation-title {
    font-family: $font-description;
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: center;
    padding-top: 1rem;
    margin: 1rem;
}

.order-number-info {
    font-family: $font-description;
    font-size: 1rem;
    font-weight: lighter;
    text-align: center;
    padding-top: 1rem;
    margin: 3rem;
}

.order-number {
    color: $color-secondary;
}

.ship-info {
    font-family: $font-description;
    font-size: 1rem;
    font-weight: lighter;
    text-align: center;
    padding-top: 1rem;
    margin: 0rem 4rem;
}
.cancel-order-info {
    font-family: $font-description;
    font-size: 1rem;
    font-weight: lighter;
    text-align: center;
    padding-top: 0.8rem;
    margin: 6rem 6rem 3rem 6rem;
}

.info-style {
    color: $color-secondary;
}

.cancel-info {
    color: $color-secondary;

    &__hyperlink {
        color: indianred;
    }
}

.continue-shopping {
    font-family: $font-description;
    text-decoration: none;
    color: black;
    background-color: $color-quaternary;
    padding: 0.2rem 0.7rem;
    border-radius: 1.88rem;

    &:hover {
        background-color: $color-secondary;
    }
}
