.main-product {
    font-family: $font-description;
    display: flex;
    justify-content: center;

    .product-information {
        padding: 2rem;
        max-width: 1500px;
        @include responsive("tablet") {
            display: grid;
            grid-template-columns: 60% 40%;
            grid-template-rows: 5rem min-content min-content 7rem;
            column-gap: 1.5rem;
            row-gap: 1rem;
        }

        &__img {
            margin: 0rem;
            border-radius: 20px;
            width: 100%;
            max-height: 30rem;
            object-fit: cover;

            @include responsive("tablet") {
                width: 100%;
                height: 100%;
                justify-self: center;
                grid-row: 1/4;
                grid-column: 1;
            }
            @include responsive("desktop") {
                grid-row: 1/5;
                grid-column: 1;
            }
        }

        &__title-price {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0rem 1rem;

            @include responsive("tablet") {
                grid-row: 1;
                grid-column: 2;
            }
        }
        &__price {
            font-size: 1.2rem;
        }

        &__list {
            padding: 0rem 1rem;
            display: flex;
            flex-direction: column;
            gap: 0.7rem;

            @include responsive("tablet") {
                grid-column: 2;
                grid-row: 2;
            }
        }

        &__description {
            text-align: center;
            border: $color-quaternary 0.15rem solid;
            border-radius: 20px;
            padding: 1rem;
            margin: 1.5rem 1rem;
            font-size: 1.2rem;

            @include responsive("tablet") {
                grid-column: 2;
                grid-row: 3;
                font-size: 1rem;
                margin: 0rem 1rem;
                align-self: flex-start;
            }
        }
    }
}

.alert-varnish {
    font-size: 0.8rem;
    color: red;
    margin: 0;
    padding: 0;
    display: none;
}
