.footer {
    display: flex;
    justify-content: center;
    background-color: $color-quaternary;
    padding: 1.5rem;
}

.social-media-container {
    display: flex;
    justify-content: space-around;
    width: 60%;
    // border-bottom: #cfa280 0.1rem solid;
}
