.menu {
    display: flex;
    justify-content: space-around;

    &__homepage {
        color: #cfa280;
        font-size: 3rem;
    }

    &__cart {
        color: #cfa280;
        font-size: 3rem;
    }
}
