.description {
    font-family: $font-description;
    font-weight: lighter;
    text-align: center;
    margin: 3rem;
}

.products-list {
    display: flex;
    justify-content: center;
    width: 70%;
    padding: 1rem 15% 5rem 15%;
}

.product {
    position: relative;
    height: 15rem;
    width: 100%;
    display: flex;
    overflow: hidden;
    border-radius: 2.5rem;

    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;

        z-index: -1;
    }

    &__description {
        border-radius: 2.5rem 2.5rem 0rem 0rem;
        width: 100%;

        margin-top: auto;

        background-color: rgba(224, 207, 186, 0.55);
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
    }

    &__name {
        margin: 1.5rem 1.5rem 1.5rem 3rem;
        font-family: $font-description;
    }
}
