$color-primary: #fff4ec;
$color-secondary: #cfa280;
$color-tertiary: #7d664e;
$color-quaternary: #dfcfbd;

$font-logo: "Cabin Sketch", cursive;
$font-caption: "Special Elite", cursive;
$font-description: "RocknRoll One", sans serif;

$tablet-breakpoint: 650px;
$desktop-breakpoint: 1200px;
