.clickable-icons {
    color: black;
    font-size: 3rem;
    transition: all 0.1s;
    position: relative;

    @include responsive("desktop") {
        text-align: center;
        font-size: 1.5rem;
        text-decoration: none;
    }

    &:hover {
        color: $color-secondary;
    }

    &--highlighted {
        @extend .clickable-icons;
        color: $color-secondary;
        border-bottom: 0.15rem $color-secondary solid;

        @include responsive("desktop") {
            border: none;
            color: black;
        }
    }

    &--social {
        @extend .clickable-icons;
        font-size: 2.5rem;

        &:hover {
            color: $color-tertiary;
        }
    }
}
